h1 {
  text-align: center;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
}

.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.cap {
  width: 60px;
  height: 25px;
}

.sleeve {
  border-left: 10px double rgba(0, 0, 0, 0.75);
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5)
}

.cap, .sleeve {
  display: inline-block;
}

.red {
  box-shadow: 0 0 50px 0 (83, 14, 0.8);
  background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
}

.green {
  box-shadow: 0px 0px 20px 0 #3B7E20CC;
  background: linear-gradient(#55680D, #71F53E, #116C31);
}

.blue {
  box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
  background: linear-gradient(hsl(183, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}